@media screen and (min-width: 1440px) {

    main {
        display: flex;
        section {
            height: 100vh;
            &:nth-child(1) {
                @extend section;
                background-image: url('./images/bg-main-desktop.png');
                width: 30vw;
                div {
                    width: 25vw;
                    height: 27vh;
                    background-size: cover;
                    &:nth-child(1) {
                        @extend div;
                        left: 10vw;
                        article {
                            &:nth-child(3) {
                                font-size: 1.4rem;
                            }
                        }
                    }
                    &:nth-child(2) {
                        @extend div;
                        bottom: 20vh;
                        top: unset;
                        right: unset;
                        left: 15vw;
                        span {
                            top: 13vh;
                            right: 6vh;
                        }
                    }
                }
            }
            &:nth-child(2) {
                width: 65vw;
                form {
                    width: 40vw;
                    margin-left: 30%;
                    margin-top: 20%;
                    input {
                        padding: 0 1vw;
                    }
                    fieldset {
                        div {
                            &:nth-child(1) {
                                gap: 7vw;
                            }
                            &:nth-child(2) {
                                gap: 1vw;
                                input {
                                    &:nth-child(1), &:nth-child(2) {
                                        width: 7vw;
                                    }
                                    &:nth-child(3) {
                                        width: 14vw;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

}